{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name ="viewport" content= "width=device-width,initial-scale=1, shrink-to-fit=no">

{% block tags %}{% endblock tags %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

</head>

<body class="bg-white">

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark mb-4 border">
    
    <a class="navbar-brand" href="{% url 'blog:home'%}">
        
        <img src="https://d3346f13f1pt3f.cloudfront.net/static/logo-banner.png" style= "max-height:30px" alt="...">
        
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:bill_breakdowns'%}">
                Breakdowns</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:thinkpieces'%}">
                Thinkpieces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:wastebooks'%}">
                Wastebooks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:roundups'%}">
                Weekly Roundup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:donate'%}">
                Donate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.landmanlife.com/product/randoland-richardson-trucker-cap/">
                Merch</a>
            </li>
           
        </ul>
        {% comment %}
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Welcome back, <a href="{% url 'users:profile'%}">{{user.username}}</a></span>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"
                    >Login/Register</a>
                </li>
            {% endif %}
        </ul>
        {% endcomment %}
        
    </div>
</nav>
 
<main role="main" class="container">
    {% include 'messages.html' %}

    <div>
        {% block page_header %}{% endblock page_header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
    

</main>
   
</body>

</html>
        