{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name ="viewport" content= "width=device-width,initial-scale=1, shrink-to-fit=no">

{% block tags %}{% endblock tags %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

</head>

<body class="bg-white">

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark mb-4 border">
    
    <a class="navbar-brand" href="{% url 'blog:home'%}">
        
        <img src="https://d3346f13f1pt3f.cloudfront.net/static/logo-banner.png" style= "max-height:30px" alt="...">
        
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Articles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'blog:bill_breakdowns'%}">Breakdowns</a>
                  <a class="dropdown-item" href="{% url 'blog:thinkpieces'%}">Thinkpieces</a>
                  <a class="dropdown-item" href="{% url 'blog:roundups'%}">Weekly Roundup</a>
                </div>
            </li>
            {% comment %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:bill_breakdowns'%}">
                Breakdowns</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:roundups'%}">
                Weekly Roundup</a>
            </li>
            {% endcomment %}
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:wastebooks'%}">
                Dashboards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.paypal.com/donate/?hosted_button_id=WUTD8LZKKYAMA">
                Donate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.landmanlife.com/product/randoland-richardson-trucker-cap/">
                Merch</a>
            </li>
            {% comment %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile'%}">User Profile</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login/Register</a>
            </li>
            {% endif %}
            {% endcomment %}
        </ul>
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'blog:search_results'%}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>    
    </div>
</nav>
 
<main role="main" class="container">
    {% include 'messages.html' %}
    <a href="https://www.paypal.com/donate/?hosted_button_id=WUTD8LZKKYAMA" class="p-2">
        <button type="button" class="btn btn-success btn-lg btn-block"><b>Donate to RandoLand (Paypal/Credit card)</b></button>
    </a>
    
    <div>
        
        {% block page_header %}
        
        {% endblock page_header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
    

</main>
   
</body>

</html>
        