{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name ="viewport" content= "width=device-width,initial-scale=1, shrink-to-fit=no">

{% block tags %}{% endblock tags %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

</head>

<body>

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark mb-4 border">
    
    <a class="navbar-brand" href="{% url 'blog:home'%}">
        
        <img src="https://d3346f13f1pt3f.cloudfront.net/static/logo-banner.png" style= "max-height:30px" alt="...">
        
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:bill_breakdowns'%}">
                Breakdowns</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:thinkpieces'%}">
                Thinkpieces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:wastebooks'%}">
                Wastebooks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:roundups'%}">
                Weekly Roundup</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Welcome, {{user.username}}.</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}"
                    >Log Out&raquo;</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}"
                    >Register</a>
                </li>
                    <a class="nav-link" href="{% url 'users:login' %}"
                    >Log in</a>
                </li>
            {% endif %}
        </ul>
        
    </div>
</nav>
 
<main role="main" class="container">
    {% include 'messages.html' %}
    

    <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
    
 <div class="jumbotron">
  <h1 class="display-4">Donate/Give Rando a job!</h1>
  <p class="lead">Rando is currently looking for oilfield work. Floorhand, company man, engineer, service hand, open to anything.</p>
  <hr class="my-2">
  <p>Send any opportunities to oilfield_rando@protonmail.com, they are greatly appreciated</p>
  <p>Donate to my research:<br>
    &emsp;CashApp:<a href="https://cash.app/$OilfieldRando">&nbsp;cash.app/$OilfieldRando</a><br>
    &emsp;Bitcoin: 3KUcv77Sz63QTE8GTP5W7bNNU6GVETkYQh<br>
    &emsp;Ethereum: 0xaE086E57DA64390A5FA4e30FC59009bF0999A670
  </p>
</div>
</main>
   
</body>

</html>
        