{% extends "base.html" %}
{% load static %}

{% block tags %}
<!-- Primary Meta Tags -->
<title>Bill Breakdowns</title>
<meta name="title" content="Bill Breakdowns">
<meta name="description" content="Mucking through .gov so you don't have to.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://randoland.us/bill_breakdowns/">
<meta property="og:title" content="Bill Breakdowns">
<meta property="og:description" content="Mucking through .gov so you don't have to.">
<meta property="og:image" content="{% static 'logo.png' %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://randoland.us/bill_breakdowns/">
<meta name="twitter:title" content="Bill Breakdowns">
<meta name="twitter:description" content="Mucking through .gov so you don't have to.">

{% endblock tags %}


{% block page_header %}
    <h4>Bill Breakdowns</h4>
{% endblock page_header %}

{% block content %}


{% for bill_breakdown in bill_breakdowns %}
    <div class="card mb-3">
        <h3 class="card-header">
            <a href="{% url 'blog:bill_breakdown' bill_breakdown.slug %}">{{bill_breakdown.title}}</a>
            <small class="text-muted">{{bill_breakdown.created_on}}</small>
        </h3>
        <div class="card-body">
            {{bill_breakdown.blurb}}
        </div>
    </div>
    
{% empty %}
    <h3>No posts have been added yet</h3>
{% endfor %}


{% endblock content %}