{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<p> 
<a href="{% url 'blog:bill_breakdowns' %}">Back to list</a>
</p>
{% endblock page_header %}


{% block content %}
 

<div class="card mb-3">
  <h4 class="card-header">{{bill_breakdown.title}}<br>
    <a href="{{bill_breakdown.bill_link}}">
      <small class="text-muted">Link to full bill text&raquo</small>
    </a>
  </h4>
  <div class="card-body">
    {% for breakdownitem in breakdownitems %} 
    <a href="{% url 'blog:pics' bill_breakdown.slug breakdownitem.id %}">
    
      <p class="card-text">{{breakdownitem.text|safe}}</p>

    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}