{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load humanize %}

{% block tags %}
<!-- Primary Meta Tags -->
<title>HEERF Dashboard</title>
<meta name="title" content="HEERF Dashboard (Institution Page)">
<meta name="description" content="Mucking through .gov so you don't have to.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.randoland.us/heerf-inst/">
<meta property="og:title" content="HEERF Dashboard (Institution Page)">
<meta property="og:description" content="Mucking through .gov so you don't have to.">
<meta property="og:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://www.randoland.us/heerf-inst/">
<meta name="twitter:title" content="HEERF Dashboard (Institution Page)">
<meta name="twitter:description" content="Mucking through .gov so you don't have to.">
<meta name="twitter:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">

{% endblock tags %}

{% block page_header %}
  <div class="text-center container-fluid">
    <a href="{% url 'wastebooks:heerf'%}">
      <h4>HEERF Funds Dashboard <small>main page</small></h4> 
    </a>
  </div>
{% endblock page_header %}  

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <form method="post" action="{% url 'wastebooks:heerf_main' %}" id="inputState" >
      {% csrf_token %}
        <div class="form-group" style="max-width:200px">
          <label for="inputState" class="col-sm-2 col-form-label col-form-label-sm">State/Territory:</label>
            <select class="form-control form-control-sm" name="inputState" id="inputState" onchange="this.form.submit()">
              <option>{{state_name}}</option>
              {% for state in states %}
              <option>{{state}}</option>
              {% endfor %}
            </select>
        </div>
      </form>
    </div>
    <div class="col-auto"> 
      <form method="post" action="{% url 'wastebooks:heerf_lookup' %}" id="inputInst">
        {% csrf_token %}
        <div class="form-group" style="max-width:400px">
          <label for="inputInst" class="col-sm-2 col-form-label col-form-label-sm">Institution:</label>
            <select class="form-control form-control-sm" name="inputInst" id="inputInst" onchange="this.form.submit()">
              <option value="" selected disabled>{{inst}}</option>
              {% for i in inst_code_set %}
              <option value="{{i.inst_id}}">{{i.institution}}</option>
              {% endfor %}
            </select>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="text-center container-fluid">
  <h2>{{inst}}</h2> 
</div>

<div class="border-bottom"></div>
  <div class="pb-2 container-fluid" style="float:left;">
    <div class="row d-flex align-items-start">
      <div class="col-lg-6">
        <div class="pb-2 container-fluid">
          <div class="pt-2 text-center">
            
          </div>  
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-center pt-4 container-fluid">
       
          <h2>Total Relief: ${{inst_total|floatformat:0|intcomma}}</h2>
          
          <h5>CARES Act: ${{cares|floatformat:0|intcomma}}</h5>
          
          <h5>Omnibus: ${{omnibus|floatformat:0|intcomma}}</h5>
          
          <h5>Amer. Resc Act: ${{ara|floatformat:0|intcomma}}</h5>
          
          {% if endowment > 0 %}
          
          <h2>Endowment: ${{endowment|floatformat:0|intcomma}}</h2>
          {% endif %}
        
        
        
        
        </div>
        </div>
      </div>
    </div>
  </div>

  


    
    <script>
        const data = {
            labels: [
                'CARES Act',
                'Omnibus',
                'Amer. Rescue Act'
            ],
            datasets: [{
                label: 'State Relief Funds',
                data: [
                    {{cares|safe}},
                    {{omnibus|safe}}, 
                    {{ara|safe}},
                ],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };
    
        const config = {
            type: 'pie',
            data: data,
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Relief Funds by Bill',
                  font:{size: 20}, 
                },
                legend: {
                  display: true,
                  position: 'bottom',
                },
              }
            }
        };
    
            // === include 'setup' then 'config' above ===
          
    var myChart = new Chart(
        document.getElementById('myChart'),
        config
        );
    
    </script>


<div class = "p-2 container-fluid">
  <div class= "text-center">
    <p>
      <a href="https://www2.ed.gov/about/offices/list/ope/allocationstableinstitutionalportion.pdf">HEERF i data source</a><br>
      <a href="https://www2.ed.gov/about/offices/list/ope/314a1allocationtableheerfii.pdf">HEERF ii data source</a><br>
      <a href="https://www.acenet.edu/Documents/ARP-HEERF3-Nonprofit-Institutions.pdf">HEERF iii data source</a>
    </p>
  </div>
</div>

{% endblock content %}