{% load bootstrap4 %}
{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name ="viewport" content= "width=device-width,initial-scale=1, shrink-to-fit=no">

<!-- Primary Meta Tags -->
<title>RandoLand</title>
<meta namne="title" content="HEERF Dashboard (Institution Page)">
<meta name="description" content="Mucking through .gov so you don't have to.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.randoland.us/heerf-inst/">
<meta property="og:title" content="HEERF Dashboard (Institution Page)">
<meta property="og:description" content="Mucking through .gov so you don't have to.">
<meta property="og:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://www.randoland.us/heerf-inst/">
<meta name="twitter:title" content="HEERF Dashboard (Institution Page)">
<meta name="twitter:description" content="Mucking through .gov so you don't have to.">
<meta name="twitter:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

</head>

<body>

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark mb-4 border">
    
    <a class="navbar-brand" href="{% url 'blog:home'%}">
        
        <img src="https://d3346f13f1pt3f.cloudfront.net/static/logo-banner.png" style= "max-height:30px" alt="...">
        
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:bill_breakdowns'%}">
                Breakdowns</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:thinkpieces'%}">
                Thinkpieces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:wastebooks'%}">
                Wastebooks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:roundups'%}">
              Weekly Roundup</a>
            </li>
        </ul>
        
    </div>
</nav>
   
<main role="main" class="container">
  <div class="container-fluid">
    <a href="{% url 'blog:heerf'%}">
      <h4>HEERF Funds Dashboard <small>main page</small></h4>
      
    </a>
  </div>
  <div class="border-bottom"></div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <form method="post" action="{% url 'blog:heerf_main' %}" id="inputState2" >
      {% csrf_token %}
        <div class="form-group" style="max-width:200px">
          <label for="inputState2" class="col-sm-2 col-form-label col-form-label-sm">State/Territory:</label>
            <select class="form-control form-control-sm" name="inputState2" id="inputState2" onchange="this.form.submit()">
              <option>{{state_name}}</option>
              {% for state in states %}
              <option>{{state}}</option>
              {% endfor %}
            </select>
        </div>
      </form>
    </div>
    <div class="col-auto"> 
      <form method="post" id="inputInst2" >
      {% csrf_token %}
        <div class="form-group" style="max-width:400px">
          <label for="inputInst2" class="col-sm-2 col-form-label col-form-label-sm">Institution:</label>
            <select class="form-control form-control-sm" name="inputInst2" id="inputInst2" onchange="this.form.submit()">
              <option value="" selected disabled>{{inst_name}}</option>
              {% for i in inst_list %}
              <option>{{i}}</option>
              {% endfor %}    
            </select>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="text-center container-fluid">
  <h2>{{inst_name}}</h2> 
</div>

<div class="border-bottom"></div>
  <div class="pb-2 container-fluid" style="float:left;">
    <div class="row d-flex align-items-start">
      <div class="col-lg-6">
        <div class="pb-2 container-fluid">
          <div class="pt-2 text-center">
            
          </div>  
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-left pt-4 container-fluid">
          <h2>Total Relief:<br>${{inst_total|floatformat:0|intcomma}}</h2>
          <h4>&emsp;CARES Act:<br>${{cares|floatformat:0|intcomma}}</h4>
          <h4>&emsp;Omnibus:<br>${{omnibus|floatformat:0|intcomma}}</h4>
          <h4>&emsp;Amer. Resc Act:<br>${{ara|floatformat:0|intcomma}}</h4><br>
          {% if endowment > 0 %}
          <h2>Endowment:<br>${{endowment|floatformat:0|intcomma}}</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>



    
    <script>
        const data = {
            labels: [
                'CARES Act',
                'Omnibus',
                'Amer. Rescue Act'
            ],
            datasets: [{
                label: 'State Relief Funds',
                data: [
                    {{cares|safe}},
                    {{omnibus|safe}}, 
                    {{ara|safe}},
                ],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };
    
        const config = {
            type: 'pie',
            data: data,
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Relief Funds by Bill',
                  font:{size: 20}, 
                },
                legend: {
                  display: true,
                  position: 'bottom',
                },
              }
            }
        };
    
            // === include 'setup' then 'config' above ===
          
    var myChart = new Chart(
        document.getElementById('myChart'),
        config
        );
    
    </script>

