{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load humanize %}


{% block tags %}
<!-- Primary Meta Tags -->
<title>HEERF Dashboard</title>
<meta name="title" content="HEERF Dashboard (State Page)">
<meta name="description" content="Mucking through .gov so you don't have to.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.randoland.us/heerf-state/">
<meta property="og:title" content="HEERF Dashboard (State Page)">
<meta property="og:description" content="Mucking through .gov so you don't have to.">
<meta property="og:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://www.randoland.us/heerf-state/">
<meta name="twitter:title" content="HEERF Dashboard (State Page)">
<meta name="twitter:description" content="Mucking through .gov so you don't have to.">
<meta name="twitter:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">

{% endblock tags %}


{% block page_header %}


  <div class="text-center container-fluid">
    <a href="{% url 'wastebooks:heerf'%}">
      <h4>Higher Education Relief Fund Dashboard <small>main page</small></h4> 
    </a>
  </div>
{% endblock page_header %}  

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <form method="post" id="inputState" >
      {% csrf_token %}
        <div class="form-group" style="max-width:200px">
      
          <label for="inputState" class="col-sm-2 col-form-label col-form-label-sm">State/Territory:</label>
            <select class="form-control form-control-sm" name="inputState" id="inputState" onchange="this.form.submit()">
              <option>{{state_name}}</option>
              {% for state in states %}
              <option>{{state}}</option>
              {% endfor %}
        
            </select>
      
        </div>
      </form>
    </div>
    <div class="col-auto"> 
      <form method="post" action="{% url 'wastebooks:heerf_lookup' %}" id="inputInst">
        {% csrf_token %}
        <div class="form-group" style="max-width:400px">
          <label for="inputInst" class="col-sm-2 col-form-label col-form-label-sm">Institution:</label>
            <select class="form-control form-control-sm" name="inputInst" id="inputInst" onchange="this.form.submit()">
              <option value="" selected disabled>--institution--</option>
              {% for i in inst_code_set %}
              <option value="{{i.inst_id}}">{{i.institution}}</option>
              {% endfor %}
            </select>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="text-center container-fluid">
  <h2>{{state_name}}</h2> 
</div>

  <div class="row">
    <div class="col-lg-6">
      <div class="text-center container-fluid">  
        <h4>Total Relief: ${{state_total|floatformat:0|intcomma}}</h4>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="text-center pt-1 container ">
        <h4>Total institutions: {{inst_count}}</h4>
      </div>
    </div>
  </div>



<div class="border-bottom"></div>
  <div class="pb-2 container-fluid" style="float:left;">
    <div class="row d-flex align-items-start">
      <div class="col-lg-6">
        <div class="pb-2 container-fluid">  
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6" style="float:left;max-height: 500px;overflow:scroll;overflow-x:hidden;">
        <div class="pt-1 container ">
          <div class="table-responsive">
            <table class="table-sm table-bordered">
              <thead>
                <tr>
                  <th scope="col">Institution</th>
                  <th scope="col">Total Relief</th>
                </tr>
              </thead>
              <tbody>
              {% for i in inst_set %}
                <tr>
                  
                  <td>
                    <form action="{% url 'wastebooks:heerf_lookup' %}"  method="post">
                      {% csrf_token %}
                      <button type="submit" name="inputInst" value="{{i.inst_id}}" class="btn btn-sm btn-light text-left">{{i.institution}}&raquo;</button>
                  </form>
                    
                  </td>
                  
                  <td> ${{i.total_relief|floatformat:0|intcomma}}</td>
                  
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  <script>
    const data = {
        labels: [
            'CARES Act',
            'Omnibus',
            'Amer. Rescue Act'
        ],
        datasets: [{
            label: 'State Relief Funds',
            data: [
                {{cares|safe}},
                {{omnibus|safe}}, 
                {{ara|safe}},
            ],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
    };

    const config = {
        type: 'pie',
        data: data,

        options: {
          
          plugins: {
            
            title: {
              display: true,
              text: 'Relief Funds by Bill',
              font:{size: 20}, 
            },
            legend: {
              display: true,
              position: 'bottom',
            },
          },
          
        }
    };

        // === include 'setup' then 'config' above ===
      
var myChart = new Chart(
    document.getElementById('myChart'),
    config
    );

</script>

<div class = "p-2 container-fluid">
  <div class= "text-center">
    <p>
      <a href="https://www2.ed.gov/about/offices/list/ope/allocationstableinstitutionalportion.pdf">HEERF i data source</a><br>
      <a href="https://www2.ed.gov/about/offices/list/ope/314a1allocationtableheerfii.pdf">HEERF ii data source</a><br>
      <a href="https://www.acenet.edu/Documents/ARP-HEERF3-Nonprofit-Institutions.pdf">HEERF iii data source</a>
    </p>
  </div>
</div>

{% endblock content %}


  