{% extends "base.html" %}
{% load static %}

{% block tags %}
<!-- Primary Meta Tags -->
<title>RandoLand</title>
<meta namne="title" content="Latest Posts">
<meta name="description" content="Mucking through .gov so you don't have to.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.randoland.us/">
<meta property="og:title" content="Latest Posts">
<meta property="og:description" content="Mucking through .gov so you don't have to.">
<meta property="og:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logo3.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://www.randoland.us/">
<meta name="twitter:title" content="Latest Posts">
<meta name="twitter:description" content="Mucking through .gov so you don't have to.">
<meta name="twitter:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logo3.png">
{% endblock tags %}

{% block page_header %}
    <h4>Latest Posts</h4>
{% endblock page_header %}

{% block content %}

<h5>
    <a href="{% url 'blog:bill_breakdowns' %}">Breakdowns&raquo;</a>
</h5>
{% for bill_breakdown in bill_breakdowns %}
    
    <div class="card mb-3 p-2" style="max-width: 540px;">
        <a href="{% url 'blog:bill_breakdown' bill_breakdown.slug %}">
        <div class="row no-gutters align-items-center">
          <div class="col-md-4">
            <img src="https://d3346f13f1pt3f.cloudfront.net/static/logo2.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{bill_breakdown.title}}</h5>
              <p class="card-text">{{bill_breakdown.blurb}}</p>
            </div>
          </div>
        </div>
        </a>
    </div>   
{% empty %}
    <h3>No posts have been added yet</h3>
{% endfor %}

<h5>
    <a href="{% url 'blog:thinkpieces' %}">Thinkpieces&raquo;</a>
</h5>


{% for thinkpiece in thinkpieces %}


<div class="card mb-3 p-2" style="max-width: 540px;">
    <a href="{% url 'blog:thinkpiece_detail' thinkpiece.slug %}">
    <div class="row no-gutters align-items-center">
      <div class="col-md-4">
        <img src="{{thinkpiece.image.url}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{thinkpiece.title}}</h5>
          <p class="card-text">{{thinkpiece.blurb}}</p>
        </div>
      </div>
    </div>
    </a>
</div>
{% empty %}
    <h3>No posts have been added yet</h3>
{% endfor %}
        

{% endblock content %}
