{% extends "base.html" %}
{% load static %}

{% block tags %}
<!-- Primary Meta Tags -->
<title>Roundups</title>
<meta name="title" content="Roundups">
<meta name="description" content="Mucking through .gov so you don't have to.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.randoland.us/roundups/">
<meta property="og:title" content="Weekly Roundups">
<meta property="og:description" content="Mucking through .gov so you don't have to.">
<meta property="og:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://www.randoland.us/roundups/">
<meta name="twitter:title" content="Roundups">
<meta name="twitter:description" content="Mucking through .gov so you don't have to.">
<meta name="twitter:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">

{% endblock tags %}

{% block page_header %}


<div class="pb-2"><h3>Weekly Roundups</h3></div>
    
{% endblock page_header %}

{% block content %}



{% for roundup in roundup_list %}
    
<div class="card mb-3 p-2 shadow bg-light" style="max-width:540px">
        <h4 class="card-header">
            <a class="text-dark" href="{% url 'blog:roundup_detail' roundup.slug %}">{{roundup.title}}</a>
        </h4>
        <div class="card-body">
            {{roundup.content}}
        </div>
    </div>
{% empty %}
    <h3>Coming Soon!</h3>
{% endfor %}


{% endblock content %}