{% extends "base.html" %}
{% load static %}

{% block tags %}
<!-- Primary Meta Tags -->
<title>Wastebooks</title>
<meta name="title" content="Wastebook">
<meta name="description" content="Mucking through .gov so you don't have to.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.randoland.us/wastebooks/">
<meta property="og:title" content="Wastebooks">
<meta property="og:description" content="Mucking through .gov so you don't have to.">
<meta property="og:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://www.randoland.us/wastebooks/">
<meta name="twitter:title" content="Wastebooks">
<meta name="twitter:description" content="Mucking through .gov so you don't have to.">
<meta name="twitter:image" content="https://d3346f13f1pt3f.cloudfront.net/static/logolarge.png">
{% endblock tags %}

{% block page_header %}
    <h4>Wastebooks</h4>
{% endblock page_header %}

{% block content %}



{% for wastebook in wastebooks %}


<div class="card mb-3 p-2" style="max-width: 540px;">
    <a href="{{wastebook.url}}">
    <div class="row no-gutters align-items-center">
      <div class="col-md-4">
        <img src="{{wastebook.image.url}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{wastebook.title}}</h5>
          <p class="card-text">{{wastebook.desc}}</p>
        </div>
      </div>
    </div>
    </a>
</div>
{% empty %}
    <h3>No posts have been added yet</h3>
{% endfor %}

{% endblock content %}