{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load humanize %}

{% block tags %}

<!-- Primary Meta Tags -->
<title>SVOG Dashboard</title>
<meta name="title" content="SVOG Dashboard">
<meta name="description" content="Shuttered Venue Operators Grantees">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.randoland.us/svog_state/">
<meta property="og:title" content="Wastebook: Shuttered Venue Operators Grants">
<meta property="og:description" content="Database of SVOG grantees">
<meta property="og:image" content="https://d3346f13f1pt3f.cloudfront.net/static/svog.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://www.randoland.us/svog_state">
<meta name="twitter:title" content="Wastebook: Shuttered Venue Operators Grants">
<meta name="twitter:description" content="Database of SVOG grantees">
<meta name="twitter:image" content="https://d3346f13f1pt3f.cloudfront.net/static/svog.png">

{% endblock tags %}


{% block page_header %}
<div class="alert alert-success text-center shadow" role="alert">
  <a href="{% url 'blog:donate'%}" class="alert-link">Click to donate to RandoLand, it's just some rando with a day job</a>
</div>
<a href="{% url 'wastebooks:svog' %}">Dashboard Home</a>
<div class="text-center container-fluid">
  <h2>Shuttered Venue Operators Grantees</h2>
</div>
{% endblock page_header %}  

{% block content %}
<style>
th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col-auto">
          
          <form action="{% url 'wastebooks:svog_state' %}" method="post" id="inputState" >
          {% csrf_token %}
            <div class="form-group" style="max-width:200px">
              <label for="inputState" class="col-form-label col-form-label-sm">State/Territory:</label>
                <select class="form-control form-control-sm" name="inputState" id="inputState" onchange="this.form.submit()">
                  <option>{{state}}</option>
                  {% for i in state_list %}
                  <option>{{i}}</option>
                  {% endfor %}
                </select>
            </div>
          </form>
        
        </div>
      
      <div class="col-auto"> 
        <form method="post" action="{% url 'wastebooks:svog_city' %}" id="inputCity">
            {% csrf_token %}
            <div class="form-group">
              <label for="inputCity" class="col-form-label col-form-label-sm">City:</label>
                    <select class="form-control form-control-sm" name="inputCity" id="inputCity" onchange="this.form.submit()">
                        <option class="text-center" value="" selected disabled>--select city--</option>
                        {% for i in city_list %}
                        <option value="{{i.city_id}}">{{i.city}}</option>
                        {% endfor %}
                    </select>
            </div>
        </form>
      </div>
      <div class="col-auto" style="max-width:300px"> 
        <form method="post" action="{% url 'wastebooks:svog_venue' %}" id="inputVenue" >
            {% csrf_token %}
            <div class="form-group" style="max-width:400px">
              <label for="inputVenue" class="col-form-label col-form-label-sm">Venue:</label>
                    <select class="form-control form-control-sm" name="inputVenue" id="inputVenue" onchange="this.form.submit()">
                        <option class="text-center" value="" selected disabled>--select venue--</option>
                        {% for i in venue_list_data %}
                        <option value="{{i.inst_id}}">{{i.venue}}</option>
                        {% endfor %}
                    </select>
            </div>
        </form>
      </div>
    </div>
</div>


  <div class="border-bottom"></div>


  <div class="text-center container-fluid pt-2">
    <h2>{{state}} SVOG Data</h2> 
  </div>
  
  <div class="pb-2 container-fluid text-center" style="max-width:500px;">      
    
      <table class="m-auto text-center mt-2 table table-bordered">
        <tbody class="thead-dark">
          <tr class="table-active">
            <th scope="row" class="align-middle">Total</th>
            <td class="text-center align-middle"><b>${{state_total|floatformat:0|intcomma}}</b></td>               
          </tr>
          <tr class="table-active">
            <th scope="row" class="align-middle">Recipients</th>
            <td class="text-center align-middle"><b>{{total_grantees|floatformat:0|intcomma}}</b></td>               
          </tr>
          <tr class="table-active">
            <th scope="row" class="align-middle">Share of total</th>
            <td class="text-center align-middle"><b>{{percent_share|floatformat:1}}%</b></td>               
          </tr>
        </tbody>
      </table>
    
  </div>
  
  <div class="container-fluid pt-2 text-center">
    <div class="row text-center pt-2">
      <div class="col-lg-6">
        <div class="text-center container-fluid pt-2">
          <h4>Payouts by City</h4> 
        </div>
        <div class="container-fluid text-center" style="max-height: 500px;overflow:scroll;overflow-x:hidden;">
          <table class="text-center table table-sm table-bordered">
            <thead class="thead-dark">
              <tr>
                <th class="text-center" scope="col">City</th>
                <th scope="col">Total Grants</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <td class="text-center align-middle">
                  <form action="{% url 'wastebooks:svog_city' %}"  method="post">
                  {% csrf_token %}
                    <button type="submit" name="inputCity" value="{{i.city_id}}" class="btn btn-sm btn-light text-center"><u>{{i.city}}</button>
                  </form>  
                  </td>
                <td class="text-center align-middle">${{i.total|floatformat:0|intcomma}}</td>               
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>    
      <div class="col-lg-6" >
        <div class="text-center container-fluid pt-2">
          <h4>Payouts by Venue</h4> 
        </div>
        <div class="container-fluid text-center" style="max-height: 500px;overflow:scroll;overflow-x:hidden;"> 
          
            <table class="text-center table table-sm table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center" scope="col">Venue</th>
                  
                  <th scope="col">Grant</th>
                </tr>
              </thead>
              <tbody>
                {% for i in top_25_data %}
                <tr>
                  <td class="text-center align-middle">
                    <form action="{% url 'wastebooks:svog_venue' %}"  method="post">
                      {% csrf_token %}
                      <button type="submit" name="inputVenue" value="{{i.inst_id}}" class="btn btn-sm btn-light text-center"><u>{{i.venue}}</u></button>
                    </form>  
                  </td>
                  <td class="text-center align-middle">${{i.amount|floatformat:0|intcomma}}</td>               
                </tr>
                {% endfor %}
              </tbody>
            </table>
          
        </div> 
      </div>
    </div>
  </div>
  
    
  

{% endblock content %}